/* stil za telo html elementa */
body{
    background-color: black; /* definisali pozadinsku boju crnu */
    text-align: center; /* sav sadrzajda bude pozicioniran na sredini */
    color: white; /* boja texta bela */
}

/* # = se poziva id elemt u css koga smo dodelili u html elemtnu kada ima > to znaci da svi div elemti iz
id elemta imaju dodeljene vrednosti*/
#slideshow > div { 
    position: absolute; /*apsolutnu poziviju */
    top: 0px;  /* da sa svi hstrane ne postoji razmak */
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    padding-top: 50px; /* padiing odozgo da bude pomeren za 50px kao bi se slasjshow pomerio ka dole da bi se video navigacioni bar */
    z-index: -1; /*z indek se koristi da bi slajshou bijo iza a navigacioni baer iznad u slicju da se ne preklope */
}
/*svi h2 elemti su definisani */
h2{
    color: white;
    margin-top: 620px;
    margin-left: -1100px;
   
}
/*sva dugmad */
button{
/*    float: right;*/
    margin-top: 5px;
}
/* calsa za dugmek koja ga udaljava od donje ivice za 5 px */
.dugmeK{
    margin-bottom: -5px;
}
/* stil za futer */
footer{
    width: 100%;
    background-color: #222;
    padding: 25px 0px;
}
/* stil samo za nav dolaj u futeru da budu sa leve strane */
footer nav{
    float: left;
}

/* stil za elemte ne odredjene liske koje se smao nalaze u nav a nav u footeru */
footer nav ul{
    margin-left: -800px;
}
footer nav ul li{
    display: inline-block; /*da elemti bdu jedni pored drugog */
    margin-left: 20px; /*razmak izmenju lemenata */
    list-style: none; /* stil da nebude nista ovim odklanjamo crtu ispod imena */
}
footer nav ul li a{
    font-family: Lato; /*font */
    font-weight: 400px;
    font-size: 13px;
    color: white;
    
}
footer nav ul li a:hover{color: orange;} /* hover sluzi za kada predjemo misem preko elemta da promeni boju */

.form-group > label{
    color: white;
}
